.row.proto-description
  %h4.comments-total
    Comments
    %span.num
      = @prototype.comments.length
  .comment-zone#comment-area
    .comment-list
      - @prototype.comments.each do |comments|
        .media{data: {comments_id: comments.id}}
          .media-left
            = image_tag(comments.user.avatar.thumb, alt: "profile_photo")
          .media-body
            %h4.media-heading#top-aligned-media
              = comments.user.name
            %p
              = comments.body
          -if user_signed_in?
            -if comments.user_id == current_user.id
              %ul.media-action
                %li.media-action-bottun
                  EDIT
                %li.media-action-bottun
                  DELETE
    = form_for [@prototype, @comment], html: {class: "comment-submit"} do |f|
      = f.text_area :body, class: "comment-input"
      = f.submit 'COMMENT', class: "media-action-bottun"
