.row.proto-description
  %h4.comments-total
    Comments
    %span.num
      = @prototype.comments.length
  .comment-zone#comment_area
    .comment_list
      - @prototype.comments.each do |comments|
        .media
          .media-left
            = comments.user.avatar
          .media-body
            %h4.media-heading#top-aligned-media
              = comments.user.name
              %a.anchorjs-link{href: "#top-aligned-media"}
                %span.anchorjs-icon
            %p
              = comments.body
      = form_for [@prototype, @comment], html: {class: "comment-submit"} do |f|
        = f.text_field :body
        = f.submit 'COMMENT'
