.container.proto-new
  = form_for @prototype, :url => {:action => 'update'} , :html => {:method => :put} do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          .cover-image-upload#main_image_uploader
            = f.fields_for :captured_images, @is_main_record do |image|
              = image.file_field :content
              = image_tag(@prototype.set_main_thumbnail.large, id: 'main_preview')
              = image.hidden_field :status, value: "main", id: image.object.id
        .col-md-12
          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group
            -(1..3).each do |i|
              -if @images[i].present?
                = f.fields_for 'captured_images_attributes[]', @images[i] do |image|
                  %li.list-group-item.col-md-4
                    .image-upload
                      = image.file_field :content
                      = image_tag(image.object.content, class: 'sub_image', id: 'sub_#{i}_preview')
                      = image.hidden_field :status, value: "sub", id: image.object.id
              -else
                %li.list-group-item.col-md-4.hide-form
                  .image-upload
                    = f.file_field :content, multiple: true, name: "prototype[captured_images_attributes][#{i}][name]"
                    = f.hidden_field :status, value: "sub", name: "prototype[captured_images_attributes][#{i}][property]"
      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
      .row.text-center.proto-btn
        = f.submit "PUBLISH", id: "button", class: "btn btn-lg btn-primary btn-block"
